<header>
    <div class="logo">
        Tournament Dashboard
    </div>
    <div>
        <button class="button -error">
            Disconnect
        </button>
    </div>
</header>

<aside>
	<nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="#">...</a>
            </li>
        </ul>
    </nav>
</aside>

<main>
  <router-outlet />
</main>